html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.boardgrid {
    display: grid;
    grid-auto-columns: min-content;
    background-color: #2196F3;
    width: min-content;
    height: 100%;
}

.boardgrid > div{
  background-color: rgba(255, 255, 255, 0.8);
  border-style: solid;
  border-color: #2196F3;
  text-align: center;
  width: 200px;
  height: 200px;
  padding: 20px;
  font-size: 30px;
}

.card{
  display: block;
  text-align: center;
  width: 90px;
  padding-top: 10px;
  border-style: dashed;
  border-color: darkgray;
  font-size: "60px"
}

.cardsinhandgrid {
  display: grid;
  grid-auto-columns: min-content;
  padding: 10px;
  width: min-content;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  grid-gap: 10px;
}

.robot {
  width: 70px;
  height: 70px;
}

.laserbeamHorizontal{
  background-color: white;
  border-style: solid none solid none;
  border-width: 3px;
  height: 8px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.laserbeamVertical{
  background-color: white;
  border-style: none solid none solid;
  border-width: 3px;
  width: 8px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.North-arrow {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-top: 50%;
}

.cardsinhandgrid {
  display: grid;
  grid-auto-columns: min-content;
  background-color: rgb(13, 14, 13);
  padding: 10px;
  width: min-content;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  grid-gap: 10px;
}

.East-arrow {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-top: 50%;
}

.South-arrow {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-top: 50%;
}

.West-arrow {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-top: 50%;
}