html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.boardgrid {
    display: grid;
    grid-auto-columns: min-content;
    background-color: #2196F3;
    padding: 10px;
    width: min-content;
    height: 100%;
}

.boardgrid > div{
  background-color: rgba(255, 255, 255, 0.8);
  border-style: solid;
  border-color: #2196F3;
  text-align: center;
  width: 200px;
  height: 200px;
  padding: 20px;
  font-size: 30px;
}

.inner-square {
  background-color: black;
  width: 70px;
  height: 70px;
  margin-top: 15%;
  margin-left: 20%;
}

.North-arrow {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

/* .North-arrow {
  width: 0;
  height: 0;
  border-width: 6px;
  border-style: solid;
  border-bottom-color: white;
  border-left-color: white;
  margin: 10px;
}

.North-arrow:before{
    right: 0;
    top: -3px;
    position: absolute;
    height: 4px;
    box-shadow: inset 0 0 0 32px;
    transform: rotate(-45deg);
    width: 15px;
    transform-origin: right top;
}

.North-arrow:after{
    transform: rotate(-45deg);
  } */

/* .East-arrow {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
} */

.East-arrow:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 10px solid white;
  border-top: 10px solid transparent;
  border-bottom: 8px solid transparent;
  vertical-align: middle;
}

.East-arrow:before {
  width: 20px;
  height: 2px;
  background: white;
  content: "";
  display: inline-block;
  vertical-align: middle;
}

.South-arrow {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

/* .West-arrow {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
} */

.West-arrow:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-right: 10px solid white;
  border-top: 10px solid transparent;
  border-bottom: 8px solid transparent;
  vertical-align: middle;
}

.West-arrow:after {
  width: 20px;
  height: 2px;
  background: white;
  content: "";
  display: inline-block;
  vertical-align: middle;
}

/* .kalaha{
  grid-template-columns: none;
  width: 10%;
  min-width: 200px;
} */

/* .playerinfo{
  width: 10%;
  height: 10%;
  background-color: #2196F3;
  text-align: center;
  min-width: 200px;
} */

/* .playerinfo > ul{
  list-style: none;
  padding: 0px;
} */

/* .onturn{
  border-style: dashed;
  border-width: 5px;
  border-color: orange;
} */

/* #rules{
  background-color: #2196F3;
  width: 10%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  min-width: 200px;
} */

/* #player1info{
  position: absolute;
  top: 0px;
  left: 0px;
} */

/* #player1pits{
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -500px;
  width: 80%;
  height: 10%;
  max-width: 1000px;
} */

/* #player1kalaha{
  position: absolute;
  top: 10%;
  left: 0px;
  height: 10%;
} */

/* #player2info{
  position: absolute;
  bottom: 0px;
  right: 0px;
} */

/* #player2pits{
  position: absolute;
  bottom: 0px;
  right: 50%;
  margin-right: -500px;
  width: 80%;
  height: 10%;
  max-width: 1000px;
} */

/* #player2kalaha{
  position: absolute;
  bottom: 10%;
  right: 0px;
  height: 10%;
} */

/* #victoryscreen{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30%;
} */

/* @media only screen and (max-width: 1400px){
  #player1pits{
    left: 200px;
    margin-left: 0px;
  }

  #player2pits{
    right: 200px;
    margin-right: 0px;
  }
} */